
body {
    margin: 0;
    padding: 0;
    font: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    width: 100%;
    display: flex;
}

h2 {
    font-size: 16px;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 400;
    font-size: 14px;
}
